<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VizWiz Demo</title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <ul uk-tab>
      <li class="uk-active"><a href="#">VizWiz Form</a></li>
      <li><a href="#">Config</a></li>
    </ul>
    <ul class="uk-switcher">
      <li>
        <viz-wiz config="#vizconfig"></viz-wiz>
      </li>
      <li>
        <div id="visualizationinput" class="uk-container">
          <pre><code id="configoutput"></code></pre>
          <textarea id="vizconfig" style="visibility:hidden">
{
    "vizId": "123456",
    "title": "What is my title",
    "description": "This is a description",
    "dataSources": [
        {
            "uid": "SomeRandomValue",
            "type": "cob-arcgis",
            "icon": "https://patterns.boston.gov/images/global/icons/mapping/waypoint-charles-blue.svg",
            "clusterIcons": true,
            "polygonStyle": "default",
            "popover": "<p>I am a popover</p>",
            "attributes": {
                "service": "https://services.arcgis.com/sFnw0xNflSi8J0uh/ArcGIS/rest/services/food_trucks_schedule/FeatureServer",
                "layer": 0
            },
            "legendLabel": "legendary"
        }
    ],
    "maps": []
}
          </textarea>
        </div>
      </li>
    </ul>
    <script type="text/javascript">
    var vizconfiginput = document.getElementById('vizconfig')
    var vizconfigoutput = document.getElementById('configoutput')
    vizconfiginput.addEventListener('input', function (e) {
      var newhtml = JSON.stringify(JSON.parse(vizconfiginput.value), null, '    ')
      vizconfigoutput.innerText = newhtml
    })
    </script>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>
